{% extends 'toolbar.html' %}
{% block title %}Settings{% endblock %}
{% block content %}
<body>
    <section class=" list hero is-fullheight">
        <div style="margin:10% ; margin-top:5%; background-color: rgba(5,4,2,0.4);">
            <div style="margin-top: 2%;">
                <h1 id="h1" style="text-align: center;">Settings</h1>
            </div>
            <div>
            <h3 class="settingh3">{{ current_user.name }}</h3>
                <nav class="navbar setting">
                <form action="{{ url_for('settings_page') }}" method="POST">
                  <input class="input is-warning" type="text" name="change_name" placeholder="Change your name" style="width:fit-content;">
                    <button class="button is-success is-outlined" type="submit">Change</a>
              </form>
            </nav>
            <h3 class="settingh3">Password</h3>
                <nav class="navbar setting">
                <form action="{{ url_for('settings_page') }}" method="POST">
                  <input class="input is-warning" type="password" name="change_password" placeholder="Change your password" style="width:fit-content;">
                    <button class="button is-success is-outlined" type="submit">Change</a>
              </form>
            </nav>
            <h3 class="settingh3">{{ current_user.email }}</h3>
                <nav class="navbar setting">
                <form action="{{ url_for('settings_page') }}" method="POST">
                  <input class="input is-warning" type="text" name="change_email" placeholder="Change your email" style="width:fit-content;">
                    <button class="button is-success is-outlined" type="submit">Change</a>
              </form>
            </nav>
                {% if listname %}
                    <h3 class="settingh3">{{ listname }}</h3>
                {% else %}
                    <h3 class="settingh3">{{ current_user.username }}'s Game List</h1>
                {% endif %}
                <nav class="navbar setting">
                    <form action="{{ url_for('settings_page') }}" method="POST">
                      <input class="input is-warning" type="text" name="change_list" placeholder="Change your list name" style="width:fit-content;">
                        <button class="button is-success is-outlined" type="submit">Change</a>
                  </form>
                  <form action="{{ url_for('settings_page') }}" method="POST">
                      <button class="button is-danger is-outlined" type="submit" name="delete" value="{{ listname }}">Delete</a>
                  </form>
              </nav>
              <div class="navbar setting"></nav>
              <form action="{{ url_for('settings_page') }}" method="POST">
                <button class="button is-danger is-outlined is-large" type="submit" name="delete_acc">Delete Account</a>
            </form>
          </div>
            </div> 
        </div>
        <footer style="text-align: center;">
            <small style="color: goldenrod; ">&copy; 2020, Barış Emre Mişe</small>
        </footer>
    </section>
</body>

{% endblock %}