{% extends 'toolbar.html' %}
{% block title %}User{% endblock %}
{% block content %}
<body>
    <section class=" list hero is-fullheight">
        <div style="margin:6% ; margin-top:5%; background-color: rgba(5,4,2,0.4);">
            <div style="margin-top: 2%;">
                <h1 id="h1" style="text-align: center;">Settings</h1>
            </div>
            <div style="margin-left: auto; margin-right:auto;">
            <h3 id="h3" style="margin-left:3%; color: gold;">{{ current_user.name }}</h3>
                <nav class="navbar" style="margin-left:3%; margin-top: 1%;">
                <form action="{{ url_for('settings_page') }}" method="POST">
                  <input class="input is-warning" type="text" name="change_name" placeholder="Change your name" style="width:fit-content;">
                    <button class="button is-success is-outlined" type="submit" style="color: green;">Change</a>
              </form>
            </nav>
            <h3 id="h3" style="margin-left:3%; color: gold;">Password</h3>
                <nav class="navbar" style="margin-left:3%; margin-top: 1%;">
                <form action="{{ url_for('settings_page') }}" method="POST">
                  <input class="input is-warning" type="password" name="change_password" placeholder="Change your password" style="width:fit-content;">
                    <button class="button is-success is-outlined" type="submit" style="color: green;">Change</a>
              </form>
            </nav>
            <h3 id="h3" style="margin-left:3%; color: gold;">{{ current_user.email }}</h3>
                <nav class="navbar" style="margin-left:3%; margin-top: 1%;">
                <form action="{{ url_for('settings_page') }}" method="POST">
                  <input class="input is-warning" type="text" name="change_email" placeholder="Change your email" style="width:fit-content;">
                    <button class="button is-success is-outlined" type="submit" style="color: green;">Change</a>
              </form>
            </nav>
                {% if listname %}
                    <h3 id="h3" style="margin-left:3%; color: gold;">{{ listname }}</h3>
                {% else %}
                    <h3 id="h3" style="margin-left:3%; color: gold;">{{ current_user.username }}'s Game List</h1>
                {% endif %}
                <nav class="navbar" style="margin-left:3%; margin-top: 1%;">
                    <form action="{{ url_for('settings_page') }}" method="POST">
                      <input class="input is-warning" type="text" name="change_list" placeholder="Change your list name" style="width:fit-content;">
                        <button class="button is-success is-outlined" type="submit" style="color: green;">Change</a>
                  </form>
                  <form action="{{ url_for('settings_page') }}" method="POST">
                      <button class="button is-danger is-outlined" type="submit" name="delete" value="{{ listname }}"style="color: red;">Delete</a>
                  </form>
              </nav>
            </div> 
        </div>
        <footer style="text-align: center;">
            <small style="color: goldenrod; ">&copy; 2020, Barış Emre Mişe</small>
        </footer>
    </section>
</body>

{% endblock %}